.col-md-6.box1 {
    padding: 30px 0px 0px 0px;
}

.col-md-6.box2 {
    padding: 30px 0px 0px 0px;
}

#aikataulu,
#saapuva,
#box1,
#box2 {
    padding: 0px 0px 0px 15px;
}

.col-md-12.Head {
    padding: 0px 0px 20px 15px;
}